
/* Hover Image */

div .pic {
  padding: 0;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;

}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  font-size: 30px;
}

/* background */

.container {
  /* background-image: linear-gradient(#ff5011, #fff); */
  max-width: 1200px;
}

/* media query */

@media (min-width: 990px) {
   .pic:hover {
     transform: scale(1.5);
     border: solid 2px black;
     z-index: 1;
   }
 }

/* @media (max-width: 990px) {
  .col-cen {
    float: none;
    margin: 0 auto;
  }
} */
